<ul
    {{#if this.class}}
    class="{{this.class}}"
    {{/if}}
>
{{#each this.items}}
    <li>{{#if this.url}}{{>elements/a}}{{else}}{{this.text}}{{/if}}
        {{#if this.list}}
        {{> elements/ul this.list}}
        {{/if}}
    </li>
{{/each}}
</ul>