{
    "presets": [
        "react",
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "Firefox ESR", "Explorer 11"]
            }
        }]
    ],
    "plugins": [
        "transform-es2015-modules-umd",
        "transform-es2015-modules-commonjs"
    ]
}
