<!DOCTYPE html>
<html id="error-404" lang="en-US" dir="ltr">
    {{> element/head}}
    <body itemscope itemtype="http://schema.org/WebPage">
        <div id="wrapper">
            <main id="main" tabindex="-1" class="container">
                <p>Sorry, but the page you were trying to view does not exist.</p>
            </main>
        </div>
        {{#if scripts.global}}
        {{> element/script script=scripts.global}}
        {{/if}}
        {{#if scripts.section}}
        {{> element/script script=scripts.section}}
        {{/if}}
        {{#if scripts.page}}
        {{> element/script script=scripts.page}}
        {{/if}}
    </body>
</html>
