@use "../colors/colors";
@use '../utilities/functions' as *;
@use '../type/text' as *;

%button-base-1 {

    @extend %text-1;

    cursor: pointer;
    line-height: rem-calc(44);
    margin: 0;
    padding: 0;

}

%button-1 {

    @extend %button-base-1;

    background-color: colors.$black-1;
    border: rem-calc(1) solid colors.$black-1;
    color: colors.$white-1;
    padding: 0 rem-calc(13.5);

}
