%button-base-1 {

    @extend %text-1;

    cursor: pointer;
    line-height: rem-calc(44);
    margin: 0;
    padding: 0;

}

%button-1 {

    @extend %button-base-1;

    background-color: $black-1;
    border: rem-calc(1) solid $black-1;
    color: $white-1;
    padding: 0 rem-calc(13.5);

}
