@use "../colors/colors";
@use '../utilities/functions' as *;
@use '../type/text' as *;

%table-base-1 {

    @extend %text-1;

    margin: 0 auto;
    padding: 0;

}

// ## tables

%table-1 {

    @extend %table-base-1;

    border: rem-calc(1) solid colors.$black-1;
    width: 80%;

    thead {
        background-color: colors.$black-1;
        color: colors.$white-1;
    }

    tfoot {
        background-color: colors.$grey-5;
        color: colors.$black-1;
    }

    td,
    th {
        border: rem-calc(1) solid colors.$black-1;
        padding: rem-calc(10);
    }

}
